.naslov {
    font-size: 70px;
    color: rgb(5, 94, 64);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.img {
    height: 100px;
    width: auto;
    ;
}

.drugi.naslov {
    color: rgb(5, 94, 64);
    background-color: bisque;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.objasnjenje {
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

.sastojci { 
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.lista1 {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.koraci {
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lista2 {
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: left;
}

.palacinak {
    height: 300px;
    width: auto;
}

.sta {
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}










